<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="default.css">

    <!-- Load platform.js for polyfill support. -->
    <script src="bower_components/platform/platform.js"></script>

    <!-- Use an HTML Import to bring in the element. -->
    <link rel="import" href="${1}">
  </head>
  <!-- unresolved : http://www.polymer-project.org/docs/polymer/styling.html#fouc-prevention -->
  <body unresolved>

    <!-- You are Awesome! -->

    <script>

      console.log('Everything is up and running.')

    </script>
  </body>
</html>

