[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = http://github.com/groenewege/vim-less.git
[submodule "bundle/github-search"]
	path = bundle/github-search
	url = http://github.com/gmarik/github-search.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = http://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/twitvim"]
	path = bundle/twitvim
	url = https://github.com/vim-scripts/TwitVim.git
[submodule "bundle/vim-octopress"]
	path = bundle/vim-octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/session"]
	path = bundle/session
	url = https://github.com/xolox/vim-session.git
