# Ignore some backups
*~
*.swp
*.bak

# OS
.DS_Store
Thumbs.db

# Stupid files.
.netrwhist
.VimballRecord

# Ignore backups
backup/

# Git ignore VIM bundle dir
bundle/**
bundle/
# Ignore directories
sessions/**
sessions/
# Stupid
colors/ir_black.vim
bundle1
.cache/
