[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = http://github.com/groenewege/vim-less.git
[submodule "bundle/github-search"]
	path = bundle/github-search
	url = http://github.com/gmarik/github-search.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = http://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
