describe('Directive/Component: ${1:Name}', function() {
  beforeEach(module(${2:APP_NAME}))

  beforeEach(inject(function($rootScope) {
    scope = $rootScope.$new()
    params = {${3}}
    template = ''
  }))

  it('first test', function() {
    var d = compileAngularDirective(params, scope, template)
    /* do it */
  })
})
