'use strict';

/*
 * Module: $1
 *
 * Angular Application
 *
 */

angular.module('${1:App}', [])
  .config(function ($routeProvider) {
    $routeProvider
      .when('/', {
        templateUrl: 'views/main.html',
        controller: 'MainCtrl'
      })
      .otherwise({
        redirectTo: '/'
      });
  });
