/*
 * Module: $1
 * Directive: $2
 * Description:
 */

angular.module('${1:App}').directive('${2:myDirective}', function () {

  return {
    template: '<div></div>',
    replace: false,
    restrict: '${3:E}',
    link: function postLink(scope, element, attrs) {
      element.text('this is the myDirective directive');
      ${4:// ...}
    }
  };

}); // End of $2 Directive
