/*
 * Module: $1
 * Filter: $2
 * Description:
 */

angular.module('${1:App}').filter('${2:myFilter}', function () {

  return function (input) {
    return 'myFilter filter:' + input ; ${3}
  };

}); // End of $1 Filter
