'use strict';

/*
 * Application: $2
 * Spec for Filter: $1
 */

describe('Filter: ${1:myFilter}', function () {

  // load the filter's module
  beforeEach(module('${2:App}'));

  // initialize a new instance of the filter before each test
  var $1;
  beforeEach(inject(function ($filter) {
    $1 = $filter('$1');
  }));

  it('should return the input prefixed with "$1 filter:"', function () {
    var text = 'angularjs';
    expect($1(text)).toBe('$1 filter: ' + text);
  });

});
