/*
 * Angular Router
 * Module: $1
 * Description: Angular main router
 */

angular.module('${1:App}',[]).config(['$routeProvider', function($routeProvider) {

	$routeProvider
		.when(
			'/${2}',
			{
				templateUrl: '${3}',
				controller: ${4}
			})
		.otherwise( {redirectTo: '/'} )

}]); // End of $1 router
