'use strict';

/*
 * Application: $2
 * Spec of Service: $1
 */

describe('Service: ${1:myService}', function () {

  // load the service's module
  beforeEach(module('${2:App}'));

  // instantiate service
  var $1;
  beforeEach(inject(function (_$1_) {
    $1 = _$1_;
  }));

  it('should do something', function () {
    expect(!!$1.toBe(true);
  });

});
